<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/home.css' %}">
</head>
<style>
    h1{
        text-align: center;
        color: aqua;
        font-size: 50px;
        text-shadow: 8px 8px 8px darkcyan;
    }
</style>
<body>

<a href="{% url 'about' %}">About</a>
<a href="{% url 'gallery' %}">Gallery</a>

<marquee behavior="" direction=""><h1>ShopDish App</h1></marquee>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis ea, est, excepturi illum ipsa minus mollitia necessitatibus nesciunt nobis nostrum numquam omnis optio possimus quis rerum sapiente sed voluptas.</span><span>Accusamus aliquam, culpa deleniti dicta dolore doloremque eos error esse expedita fuga hic illo incidunt ipsa iure labore laboriosam magni molestiae nesciunt nisi odio optio quisquam quod saepe suscipit voluptatibus?</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eum fugiat magni maiores nobis provident quibusdam vel. Atque dignissimos fugit ipsum laborum tempora! Ab aliquid harum nam, sunt ullam veniam?</span><span>Aliquam animi at autem dicta dolores dolorum eligendi, eveniet exercitationem expedita fuga fugit illum incidunt minima modi nemo, quas quo quod reiciendis repudiandae rerum saepe sapiente totam ullam vitae voluptates?</span><span>Corporis cum cupiditate deleniti exercitationem expedita explicabo hic ipsum labore laborum maxime molestiae necessitatibus nisi non numquam pariatur perferendis provident quia quisquam repudiandae sunt tenetur velit veniam, vero voluptate voluptatum.</span></p>





</body>
</html>